<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../resources/css/flexbox.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.css">
        <link rel="shortcut icon" type="image/png" href="../resources/img/asem.png">

    <title>signIn</title>
</head>
<body>
    <div class="flex-center">
    <div class="card text-center">
        <div id="htx" class="card-header bg-primary">
            create an account
        </div>
        <div class="card-body">
          <h5>Join the ASEM community conversation.</h5>
          <p class="card-text">By having an ASEM account, you can join, vote, and comment on our ASEM.
                <br>Sign up in just a seconds.</p>

                <div id="signup" class="container p-s5 mb-5" style="max-width: 416px;">
                        
                        <form class="m-5 txt">
                            <div class="form-group">
                                <label class="txt">EMAIL</label>
                                <input type="email" class="form-control" placeholder="enter your email" required>
                                <div class="invalid-tooltip">
                                    email invalid
                                  </div>
                            </div>
                            <div class="form-group">
                                <label class="txt">USERNAME</label>
                                <input type="text" class="form-control" placeholder="enter your username" required>
                                <div class="invalid-tooltip">
                                    email invalid
                                  </div>
                            </div>
                            <div class="form-group">
                                <label class="txt">PASSWORD</label>
                                <input type="password" class="form-control" placeholder="Password" required>
                            </div>
                            <input type="submit" value="Next" class="btn btn-info btn-block btn-lg">
                            <h6 style="margin-top: 3px;"><a class="text-info" href="login.html">Already have an account?</a></p> </h6> 
                            <p><small>By signing up, you agree to our <a href="terms.html">Terms</a> and that you have read our <a href="privacy.html">Privacy policy</a>
                                 and <a href="#">Content Policy</a>.</small></p>    
                        </form>
                    </div>
                    </div>

        </div>

    </div>
</div>

<style>
#htx {
    
    color:  #fff;
    font-size: 22px;
}
.txt { text-align: left;
color: rgb(129, 120, 120)}
</style>
</body>
</html>