<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASEM-terms of services</title>

    <link rel="stylesheet" type="text/css" href="../resources/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../resources/css/flexbox.css">
    <link rel="shortcut icon" type="image/png" href="../resources/img/asem.png">

</head>

<body>

    <div id="navg" style="background-color: rgb(83, 145, 240);"
        class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">

        <picture id="main__logo">
            <source srcset="../resources/img/asem.png 1x, ../resources/img/asem.png 2x" media="(max-width: 37.5em)">
            <img srcset="../resources/img/asem.png 1x, ../resources/img/asem.png 2x" alt="college logo"
                src="../resources/img/asem.png">
        </picture>

        <h5 class="my-0 mr-md-auto font-weight-bold">ASEM FORUM</h5>

        <nav class="my-2 my-md-0 mr-md-3">
            <a class="p-2 text-light" href="../index.php">HOME</a>
            <a class="p-2 text-light" href="#">BOARD</a>
            <a class="p-2 text-light" href="#">SUPPORT</a>
            <a class="p-2 text-light" href="login.html">SIGN IN</a>
        </nav>
        <a class="btn btn-outline-primary bg-light border-warning font-weight-bold text-warning"
            href="registration.html">Sign up</a>
    </div>

    <div class="fx-column ">
        <div class="col_item c1"><img srcset="../resources/img/asem.png 1x" alt="Full logo"
                src="../resources/img/asem.png">
            <p>Aryan School of engineering and management</p>
        </div>
        <div class="col_item c2">
            <div class="container">
                ASEM Terms of Service
                <footer class="blockquote-footer"><small>Effective date: December 13, 2019.</small>
                </footer>
            </div>
            <div class="container ct1">
                INTRODUCTION AND ACCEPTING THE TERMS
            </div>
            <div class="container ct2">
                <p>
                    Welcome to ASEM! These Terms of Service, which include and hereby incorporate the Privacy Policy
                    at ASEM forum, are a legal agreement between ASEM forum. and its related Users (student,teacher).
                    By using or accessing the website which are collectively referred to as the ASEM forum,
                    that you have read, understood, and accept to be bound by terms of our services.
                </p>
            </div>

            <div class="container ct1">
                Here is a quick summary of the highlights of our Terms of Service:
            </div>
            <div class="container ct2">
                <p>
                    Important notice: These terms OF Service contains a binding arbitration in case of violating of our
                    terms and services we may cease your services in this forum. Please read carefully before accepting
                    the terms of services :
                </p>
            </div>
            <div class="container ct2">
                <ul>
                    <li>
                        <st>Our mission is to share and grow the students knowledge. </st> The ASEM platform offers a
                        place to ask questions and connect with students and teachers who contribute unique insights and
                        quality answers. This empowers students to learn from each other and to better understand the
                        education.
                    </li>
                </ul>
            </div>
            <div class="container ct2">
                <ul>
                    <li>
                        <st>You own the content that you post;</st> you also grant us and other users of the ASEM
                        platform certain rights and license to use it. The details of these licenses are described in
                        content section.
                    </li>
                </ul>
            </div>
            <div class="container ct2">
                <ul>
                    <li>
                        <st>You are responsible for the content that you post. </st> This includes ensuring that you
                        have the rights needed for you to post that content and that your content does not violate the
                        legal rights of another party (for example, defamation) or any applicable laws.
                    </li>
                </ul>
            </div>
            <div class="container ct2">
                <ul>
                    <li>
                        <st>You can repost content from ASEM elsewhere, </st> provided that you attribute the content
                        back to the ASEM platform and respect the rights of the original poster, including any “not for
                        reproduction” designation.
                    </li>
                </ul>
            </div>
            <div class="container ct2">
                <ul>
                    <li>
                        <st>We do not endorse or verify content posted by users.</st> Our content and materials are
                        provided to you “as is,” without any guarantees. You are solely responsible for your own use of
                        the ASEM platform. Posts from lawyers, doctors, and other professionals should not be treated as
                        a substitute for professional advice for your specific situation.
                    </li>
                </ul>
            </div>
            <div class="container ct2">
                <ul>
                    <li>
                        <st>We offer tools for you to give feedback and report complaints. </st>If you think someone has
                        violated your intellectual property rights, other laws, or ASEM's policies, you can initiate a
                        report at the contact us portal or by using our in-product reporting tool.
                    </li>
                </ul>
            </div>
            <div class="container ct2">
                <ul>
                    <li>
                        <st>Registration. </st>When you set up a profile on the ASEM Platform, you will be asked to
                        provide certain information about yourself. You agree to provide us accurate information,
                        including your real name, when you create your account on the ASEM Platform. We will treat
                        information you provide as part of registration in accordance with our Privacy Policy. You
                        should take care in maintaining the confidentiality of your password.
                    </li>
                </ul>
            </div>
            <div class="container ct2">
                <ul>
                    <li>
                        <st>Termination. </st> You may close your account at any time by going to account settings and
                        disabling your account. We may terminate or suspend your ASEM account if you violate any ASEM
                        policy or for any other reason.
                    </li>
                </ul>
            </div>
            <div class="container ct2">
                <ul>
                    <li>
                        <st>Changes to the ASEM Platform. </st> We are always trying to improve your experience on the
                        ASEM Platform. We may need to add or change features and may do so without notice to you.
                    </li>
                </ul>
            </div>
            <div class="container ct2">
                <p>
                    We are pleased that you want to join the ASEM platform and we are sure that you have read the full Terms of
                    Services of our community.
                </p>
            </div>

            <div class="container ct1">
                CONTACTING US
            </div>
            <div class="container ct2">
                <p>
                    Please also feel free to contact us if you have any questions about this Terms of services or the
                    information practices of the Services. You may contact us as follows: <a href="https://info@thearyanschool.edu.np">info@thearyanschool.edu.np</a>
                </p>
            </div>


        </div>
    </div>


    <footer class="py-5" style="background-color: rgb(83, 145, 240);">
        <div class="footer__logo-box">
            <picture class="footer__logo">
                <source srcset="resources/img/asem.png" media="(max-width: 37.5em)">
                <img srcset="../resources/img/asem.png 1x" alt="Full logo" src="resources/img/asem.png">

            </picture>

        </div>
        <div class="container">
            <p class="text-center text-white"><small>copyright &copy; 2019 by ASEM Forum. All rights reserved.</small>
            </p>
        </div>

    </footer>

</body>







<style>
    #main__logo {
        padding: 2px;
        margin: 2px;
    }

    #navg {
        color: #FFFFBF;
    }

    st {
        color: #40454b;
    }


    .footer__logo-box {
        text-align: center;
        margin-bottom: 5rem;


    }

    .footer__logo {
        width: 15rem;
        height: auto;
    }
</style>

</html>